* {
    box-sizing: border-box ;
}

.test {
  border: 1px solid black;
  margin-top: 5rem;
  width: 90%;
  margin-left: 4.5rem;
}
img {
  height: 15rem;
  width: 30rem;
}

Figure {
  font-size: 2rem;
  padding-left: 14rem;
}
