* {
    box-sizing: border-box ;
}

.test {
  margin-top: 5rem;
  width: 90%;
  margin-left: 4.5rem;
  /* display: flex; */
}
.highlighted{
  width: 100%;
  float: none;
  border: 5px solid black;
  padding: 2rem;
  margin: 0.8rem;
  /* justify-content: center; */
}
img {
  height: 15rem;
  width: 30rem;
}

Figure {
  font-size: 2rem;
  padding-left: 14rem;
}
