*{
  box-sizing: border-box;
}

body{
  background-color: white;
}

.mood-btn{
  font-size: 1.5em;
  border-radius: 14%;
  width: 11%;
  margin: 4px;
  padding: 22px;
}

.journal-space{
  width: 58%;
    padding: 14px 0px 15px 1px;
    
    margin: 13px 3px 0 8px;
  
}

.submit, .clear{
  font-size:1.5em;
}



h1{
  font-size: 2.5em;
  padding: 10px;
}
