@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

  .container3{
      text-align: center;
      margin: 0 auto;
      box-sizing: border-box;
      background-color: #c4e2b2;
      font-family: 'Poppins', sans-serif;
  }
 h1{
    font-size: 90px;
 }
 p{
    margin: 0 auto;

     width: 30%;
 }

 .callToAction{
     margin-top: 20px;

}

.button2 {
    display: block;
    box-sizing: border-box;
    padding: 10px 16px;
    width: 10%;
    outline: 0;
    border: 1px solid #373277;
    border-radius: 0;
    background: #397c52;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 1.3333333;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 auto;
  }

  .button2:hover {
    background: rgba(28, 144, 72, 0.8);
  }

  .button2:focus {
    border-color: #0074c2;
    box-shadow: 0 0 8px rgba(0, 116, 194, 0.6);
  }


  .image{
      width: 25%;
  }
