@import url('https://fonts.googleapis.com/css2?family=Lexend+Tera&display=swap');

* {
    box-sizing: border-box ;
}

.backgroundImage {
background-image: url('../../assets/images/bg.gif') ;
background-repeat: no-repeat;
background-size: cover;
color: white;
font-family: 'Lexend Tera', sans-serif;
min-height: 100vh;
overflow: hidden;
display: flex;
flex-direction: column;
align-items: center;
margin: 0;
}

h1{
    font-size: 2.5em;
    padding: 6px;
  
}
/* the container that wraps around everything */
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 300px;
    margin: auto;
    /* want to position absolute within the container */
    position: relative;
    /* to help the container expand and contract */
    transform: scale(1);
}

/* putting gradient circle first because it is going to be behind the solid circle */
.gradient-circle{
  background: conic-gradient(
      #900C3F 0%,
      #581845  40%,
     #3C356D   40%,
     #2B2457    60%,
      #B781AB 60%,
      #9C6390  100%
  ) ;
  height: 320px;
  width: 320px;
  position: absolute;
  top: -10px;
  left: -10px;
  z-index: -2;
  border-radius: 50%;
}

/* the solid colour circle */
.circle{ 
    background-color: #130E37;
    height: 100%;
    width: 100%;
     position: absolute;
      top: 0;
     left: 0; 
      z-index: -1;
      border-radius: 50%;
     
}

.pointer-container{
    position: absolute;
    top: -40px;
    left: 140px;
    width: 20px;
    height: 190px;
    /* place rotation animation on the container and match the time from the 7 seconds in js */
    animation: rotate 7.5s linear forwards infinite;
    transform-origin: bottom center;
}

.pointer{
    background-color: white;
    border-radius: 50%;
    height: 14px;
    width: 14px;
    display:block;
}

#text{
    font-size: 1.5em;
}



.expand{
    animation: expand 3s linear forwards;  
}

.shrink{
    animation: shrink 3s linear forwards;  
}

@keyframes expand{
     from{
       transform: scale(1)
     }

     to{
         transform: scale(1.2)

     }

}

@keyframes shrink{
     from{
        transform: scale(1.2)
     }

     to{
        transform: scale(1)

     }

}


@keyframes rotate{
    /* starting with a rotation postion */
    from{
       transform: rotate(0deg)
    }

    to{
    transform: rotate(360deg)
    }
};