
 @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


 .root {
     width: 100%;
   padding: 20px 20px 20px 20px;
   background-color: #D0E3C4;
   font-family: 'Poppins', sans-serif;
 }

 .container2 {
   margin: 0 auto;
   padding: 20px 20px 20px 20px;
   width: 380px;
   background-color:white;
   border-radius: 10px;
   text-align: center;
   box-shadow: 13px 13px 35px 27px rgba(0,0,0,0.08);
 }

 .lead {
   font-size: 1.25em;
 }

 .formGroup {
   margin-bottom: 15px;
 }

 .label {
   display: block;
   font-weight: 700;
 }

 .input {
   display: block;
   box-sizing: border-box;
   margin: 5px 0 0;
   padding: 10px 16px;
   width: 290px;
   height: 46px;
   outline: 0;
   border: 1px solid #ccc;
   border-radius: 0;
   background: #fff;
   box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
   color: #616161;
   font-size: 18px;
   line-height: 1.3333333;
   transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
   border-radius: 5px;
 }

 .input:focus {
   border-color: #0074c2;
   box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 116, 194, 0.6);
 }

 .button {
   display: block;
   box-sizing: border-box;
   margin-top: 15px;
   padding: 10px 16px;
   width: 100%;
   outline: 0;
   border: 1px solid #373277;
   border-radius: 0;
   background: #397c52;
   color: #fff;
   text-align: center;
   text-decoration: none;
   font-size: 18px;
   line-height: 1.3333333;
   cursor: pointer;
   border-radius: 5px;
 }

 .button:hover {
   background: rgba(28, 144, 72, 0.8);
 }

 .button:focus {
   border-color: #0074c2;
   box-shadow: 0 0 8px rgba(0, 116, 194, 0.6);
 }
