@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.centerChildren{
   display: flex;
   justify-content: center;

}

.outerShadow{
   -moz-box-shadow:      2px 2px 50px rgb(239, 239, 239);
   -webkit-box-shadow: 2px 2px 50px rgb(221, 221, 221);
   box-shadow:         2px 2px 50px rgb(236, 236, 236);
}
.container-fluid{
   margin-top: 5rem;
   margin-bottom: 4rem;
}

.organizationImage{
   margin-top: 2rem;
   max-width: 85%;
   margin-bottom: 3rem;
   /* min-width: ; */
}

p{
   width: 100%;
   padding: 4rem 2.5rem;
}
