*{
  line-height: 2;
}
.main-footer{
  background-color: rgb(52,58,64);
  height: auto;
  overflow: auto;
  font-size: 15px;
  color: white;
  clear:both;
  padding-top: 30px;
}
.bot{
  text-align: center;
}
.container{
  height: 173px;
}
.boo{
  text-align: center;
}
.under{
  text-decoration: underline;
}
.fab{
  font-size: 1.3rem;
}

