.CheckoutContainer{
  text-align: center;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #c4e2b2;
  font-family: 'Poppins', sans-serif;
  width: 100%;
  height: 65vh;
  padding-top: 100px;
}

.formContainer{
  border-radius: 5px;

  width: 60%;
  border: 1px solid  #479e11;
  margin-left: 20%;
  background-color: #76b052;
  padding-top: 50px;
  padding-bottom: 0px;
       
}

.input{
 border: 1px solid gray;
 border-radius: 10px;
 width: 60%;  
 display: inline-block;     
}
.stripeEmail{
    width: 60%;
}
.payBtn{
    border-radius: 10px;
    width: 20%;
    padding: 2%;    
    border: 1px solid #57c016;
    background-color: #74f226;

}
.label1, .label2{
    display:inline-block;
    margin-right: 10px;
}
.label2{
  padding-right: 10px;
}

.form{
  width: 60%;
  margin-left: 20%;
  padding-bottom: 10px;
}

.cardInput{
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
}
/* tablet */
@media only screen and (min-width:601px) and (max-width:860px){

  .formContainer{
    border-radius: 5px;
    width: 90%;
    border: 1px solid  #479e11;
    margin-left: 5%;
    background-color: #76b052;
    padding-top: 0px;
    padding-bottom: 0px;
         
  }
}

/* mobile, anything smaller than 600px */
@media only screen and (max-width:601px){
  .formContainer{
    border-radius: 5px;
    width: 90%;
    border: 1px solid  #479e11;
    margin-left: 5%;
    background-color: #76b052;
    padding-top: 0px;
    padding-bottom: 0px;
         
  }

  .CheckoutContainer{
    text-align: center;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: #c4e2b2;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 90vh;
    padding-top: 100px;
  }
  
}

.payment{
  margin-left:120%;
  width: 100%;
  border: 1px solid black;
  background-color: purple;
  height:33rem;

}
.field{
  margin-left: 30%;
  /* background-color: blue; */
 border: 1px solid black;
  border-radius: 10%;

  color:black;
}

.Pay{
  margin-left: 31%;
  width: 42%;
  border-radius: 10%;
  /* background-color: blue; */
}
.StripeContainer{
    width: 100%;
    background-color: #c4e2b2;
    font-family: 'Poppins', sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
}

.Stripe{
    background-color: white;
    text-align: center;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    height: 30rem;
    border-radius: 5px;


    }

.StripeInput{
    width: 100%;
    height: 50px;
    border: 1px solid black;
}
.FormGroup {
    margin: 0 15px 20px;
    padding: 0;
    border-style: none;
    background-color: #7795f8;
    will-change: opacity, transform;
    box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
      inset 0 1px 0 #829fff;
    border-radius: 4px;
  }

  .FormRow {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 15px;
    border-top: 1px solid #819efc;
  }

  .StripeElement--webkit-autofill {
    background: transparent !important;
  }

  .StripeElement {
    width: 100%;
    padding: 11px 15px 11px 0;
  }
