/* =========================PROGRESSS BAR=================== */
.d-flex .progress-bar {
    background-color: #8BC34A;
}

.progress {
    width: 40%;
}

.tracker-title{
    text-align: center;
}
.progressBar{
  display: flex;
  flex-direction: column;
  align-items: center;
}
